.dropdown {
    width: 100%;
    overflow: hidden;
}

.dropdown-content {
    transition: all 300ms;
    background-color: #F6F6F673;
    border-radius: 0 0 10px 10px;
    transform: translateY(-100%);
    transform-origin: 50% 0%;
    opacity: 0;
    position: relative;
    z-index: -2;
    .dropdown-text{
        height: 0;
        display: flex;
        width: 100%;
        gap: 2px;
        padding : 10px 20px;
        margin: 0px;
        box-sizing: border-box;
        ul{
            margin: 0;
            padding-left: 0;
        }
    }

    //Gestion du collapse

    &.open {
        transform: translateY(0);
        opacity: 1;
        max-height: 220px;
        .dropdown-text{
            height: auto;
        }
    }
}


.info-bar {
    gap: 100px;
    display: flex;
}

// Gestion des chevrons

.down {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
}
.up {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight:700;
    line-height: 25.67px;
    width:  100%;
    height:  auto;
    padding: 10px 20px 10px 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 96, 96, 1);

}

.equipments-logement {
    flex-direction: column;
    gap: 5px
}


@media (max-width: 767.98px) { 
    .info-bar {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    .dropdown-button {
        height: 30px;
        align-items: center;
        font-family: Montserrat;
        font-size: 13px;
        line-height: 18.54px;
        width: 100%;

    }

    .dropdown {
        width: 100% !important;
    }

    .dropdown-text{
        padding: 0px 10px 10px 10px;
    }

    .dropdown-content {
        height: auto;
    }
}