.dropdown-about {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0px 90px 0px 90px;
width: 100%;

}

.dropdown-content {
    background: rgba(246, 246, 246, 0.45);
    padding: 15px;
    width: 67%;
}

.dropdown {
    padding: 10px;
}

.bannerHome {
    filter: drop-shadow(0 0 0.75rem black) brightness(0.7);
}
