.dropdown-about {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
max-width: 100%;
display: flex;
gap:30px;

}

.about {
    max-width: 1440px;
}

.dropdown {
    width: 55% !important;

    
}

.dropdown-content {
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

.bannerHome {
    filter: drop-shadow(0 0 0.75rem black) brightness(0.7);
}
