.dropdown {
    width: 100%;
    // position: relative;
}

.dropdown-content {
    display: flex;
    background: rgba(246, 246, 246, 0.45);
    width: 100%;
}

.description-logement, 
.equipments-logement {
    display: flex;
    width: 100%;
    height: 180px;;
    gap: 2px;
    padding : 20px 40px 20px 20px;
    margin: 0px;


}

.info-bar {
    gap: 100px;
    display: flex;
}

.down {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
}
.up {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.dropdown-button {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight:700;
    line-height: 25.67px;
    width:  100%;
    height:  auto;
    padding: 10px 20px 10px 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 96, 96, 1);

}

.equipments-logement {
    flex-direction: column;
}


@media (max-width: 767.98px) { 
    .info-bar {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    .dropdown-button {
        height: 30px;
        align-items: center;
        font-family: Montserrat;
        font-size: 13px;
        line-height: 18.54px;
        width: 100%;

    }

    .dropdown {
        width: 100% !important;
    }

    .description-logement, .equipments-logement {
        padding: 0px 10px 10px 10px;
    }

    .dropdown-content {
        height: auto;
    }
}