.dropdown {
    width: 100%;
    // position: relative;
}

.dropdown-content {
display: flex;
}

.description-logement, 
.equipments-logement {
    display: flex;
    width: 70%;
    height: 279px;
    padding: 77px 28px 20px 20px;
    gap: 10px;
    margin: 0px;
    border-radius: 10px 10px 5px 5px;


}

.down {
    transition: transform 0.3s ease-in-out;
    transform: rotate(-180deg);
}
.up {
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

.dropdown-button {
    display: flex;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight:700;
    line-height: 25.67px;
    width:  100%;
    height:  auto;
    padding: 10px 20px 10px 10px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 96, 96, 1);

}

.info-bar {
    display: flex;
}

.equipments-logement {
    flex-direction: column;
}


@media (max-width: 767.98px) { 
    .info-bar {
        flex-direction: column;
    }

    .dropdown-button {
        height: 30px;
        align-items: center;
        font-family: Montserrat;
        font-size: 13px;
        line-height: 18.54px;

    }
}