.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 29px 0px 0px 20px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;

@media (max-width: 767.98px) { 
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: center;
    }

}