.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 29px 0px 0px 20px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: center;

}