.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
ul {
    display: flex;
    gap: 57px;
}

li {
    display:flex;

}

.nav {
    color: black;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;

}