.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 90px 40px 90px;
}
ul {
    display: flex;
    gap: 57px;
}

li {
    display:flex;
    

}

.nav {
    color: black;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    text-align: right;
    text-decoration-line:none ;
}

// PENSER A AJOUTER UNDERLIGNE WHEN SECTION ON
@media (max-width: 767.98px) { 
.header {
    margin : 25px;

    a {
        text-transform:uppercase;
    }

    ul {
        gap:25px;
    }
        .nav {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 17.11px;
        text-align: right;   
    }
    
    .logo {
            width: 40%;
        }
    }


}