.logement-section {
    margin: 30px 90px 40px 90px;
}

.info-logement {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.host-rate {
    display: flex;
    flex-direction: column;
    gap : 20px
}

.title-loc-tag {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}
.title-logement {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: rgba(255, 96, 96, 1);
}

.location-logement {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
}


.host-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.host-name {
    color: rgba(255, 96, 96, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
}

.host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;

}

@media (max-width: 767.98px) { 
    .logement-section {
        margin : 20px;

        .carousel {
            height: 250px;
        }

        .title-logement {
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 25.67px;
            text-align: left;

        }

        .location-logement {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 500;
            line-height: 19.96px;
            text-align: left;

        }

        .info-logement {
            flex-direction: column;
            align-items: flex-start;
        }

        .host-rate {
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
    }
    
    
    }