.logement-section {
    margin: 30px 90px 40px 90px;
}

.info-logement {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.host {
    display: flex;
    flex-direction: column;
    gap : 20px
}

.title-loc-host {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
}
.title-logement {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: rgba(255, 96, 96, 1);
}

.location-logement {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
}

.tags-section {
    display: flex;
}

.tags-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.tags-logement {
    background: rgba(255, 96, 96, 1);
    width: fit-content;
    border-radius: 10px;
    margin: 3px;
    display: flex;
}

.tag {
    font-family: Montserrat;
    color: white;
    padding: 4px 15px 4px 14px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: center;
}

.tags-list {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.host-logement {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0px 0px 0px;
}

.host-name {
    color: rgba(255, 96, 96, 1);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: right;
}

.host-picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;

}