.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 415px;
    border-radius: 20px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
    
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
  }

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 100px;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.slide-number {
  position: absolute;
  z-index: 1;
  color: white;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

}

@media (max-width: 767.98px) { 
  .left-arrow,
  .right-arrow {
    font-size: 10px ;
  }


  .slide-number {
    display: none;
  }

  .image {
    height: 255px;
  }
}